@model ReportesWeb1_2.ModelsReportes.CajeroReceptorModel

@{
    ViewBag.Title = "Cajero - Receptor";
}

@section Scripts {

    <script>
        $(document).ready(function () {
            LoadTurnos();
            LoadAdministradores();
            OutLoader();
        });

         function LoadTurnos() {
            $.ajax({
                url: '@Url.Action("GetTurnos", "Reportes")',
                type: "GET",
                data: "{}",
                cache: false,
                success: function (data) {
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.Value);
                        $option.html(row.Text);
                        $('#IdTurno').append($option);
                    });
                },
                error: function (ex) {
                    alert('Error!!!' + ex);
                },
            });
        }

        function LoadAdministradores() {
            $.ajax({
                url: '@Url.Action("GetAdministradores", "Reportes")',
                type: 'GET',
                data: '{}',
                cache: false,
                success: function (data) {
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.Value);
                        $option.html(row.Text);
                        $('#IdAdministrador').append($option);
                    });
                },
                error: function (ex) {
                    alert("Error!!!" + ex);
                }
            });
        }

    </script>

    @Scripts.Render("~/bundles/jqueryval")
}

@*<div id="loader-wrapper">
        <div id="loader"></div>
    </div>*@

<div class="container">
    <h1>Cajero-Receptor</h1>
</div>
<hr />

@using (Ajax.BeginForm("CajeroReceptorIndex", "Reportes", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divListaBolsas" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.IdDelegacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.LabelFor(model => model.IdDelegacion, (string)ViewBag.Delegacion, htmlAttributes: new { @class = "font-weight-bold" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdPlaza, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.LabelFor(model => model.IdPlaza, (string)ViewBag.Plaza, htmlAttributes: new { @class = "font-weight-bold" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumCajeroReceptor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.NumCajeroReceptor, new { htmlAttributes = new { @class = "form-control textbox2 contorno", placeholder = "Numero de Cajero" } })
                @Html.ValidationMessageFor(model => model.NumCajeroReceptor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdTurno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.IdTurno, new SelectList(string.Empty, "Value", "Text"), htmlAttributes: new { @class = "custom-select dropdown3 contorno", size = "3" })
                @Html.ValidationMessageFor(model => model.IdTurno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdAdministrador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.IdAdministrador, new SelectList(string.Empty, "Value", "Text"), "Seleccione un administrador", htmlAttributes: new { @class = "custom-select contorno" })
                @Html.ValidationMessageFor(model => model.IdAdministrador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Fecha)
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-6">
                <input type="submit" value="Generar Reportes" class="btn btn-primary boton2" />
            </div>
        </div>
    </div>
}

<div id="divListaBolsas" class="row">
    @Html.Partial("_ListaBolsasPartial", Model)
</div>
