@model System.Data.DataSet
@using System.Data;
@{
                /**/

                ViewBag.Title = "Pruebas";
}

<h2>Pruebas</h2>

<h3>INICIO TARIFAS</h3>

<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Grupo</th>
            <th scope="col">Concepto</th>
            <th scope="col">Descricion_clase</th>
            <th scope="col">Numero_clase</th>
            <th scope="col">Numero</th>
            <th scope="col">Numero param</th>
            <th scope="col">Numero tabla</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[0].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                    <td>@row[6]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>TOTAL INICIO TARIFAS</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
            <th scope="col">Tipo_Total</th>
            <th scope="col">strNumero</th>
            <th scope="col">Param_telerik</th>
            <th scope="col">Table_telerik</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[1].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>pago en efectivo dollares</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Grupo</th>
            <th scope="col">Concepto</th>
            <th scope="col">Descricion_clase</th>
            <th scope="col">Numero_clase</th>
            <th scope="col">Numero</th>
            <th scope="col">Numero param</th>
            <th scope="col">Numero tabla</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[2].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                    <td>@row[6]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>totales pago en efectivo dollares</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
            <th scope="col">Tipo_Total</th>
            <th scope="col">strNumero</th>
            <th scope="col">Param_telerik</th>
            <th scope="col">Table_telerik</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[3].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>PAGO ANTICIPADO RESIDENTES</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Grupo</th>
            <th scope="col">Concepto</th>
            <th scope="col">Descricion_clase</th>
            <th scope="col">Numero_clase</th>
            <th scope="col">Numero</th>
            <th scope="col">Numero param</th>
            <th scope="col">Numero tabla</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[4].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                    <td>@row[6]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>TOTALES PAGO ANTICIPADO RESIDENTES</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
            <th scope="col">Tipo_Total</th>
            <th scope="col">strNumero</th>
            <th scope="col">Param_telerik</th>
            <th scope="col">Table_telerik</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[5].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>SISTEMAS ELECTRONICOS</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Grupo</th>
            <th scope="col">Concepto</th>
            <th scope="col">Descricion_clase</th>
            <th scope="col">Numero_clase</th>
            <th scope="col">Numero</th>
            <th scope="col">Numero param</th>
            <th scope="col">Numero tabla</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[6].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                    <td>@row[6]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>TOTAL SISTEMAS ELECTRONICOS</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
            <th scope="col">Tipo_Total</th>
            <th scope="col">strNumero</th>
            <th scope="col">Param_telerik</th>
            <th scope="col">Table_telerik</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[7].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>TARJETAS BANCARIAS</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Grupo</th>
            <th scope="col">Concepto</th>
            <th scope="col">Descricion_clase</th>
            <th scope="col">Numero_clase</th>
            <th scope="col">Numero</th>
            <th scope="col">Numero param</th>
            <th scope="col">Numero tabla</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[8].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                    <td>@row[6]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>totales TARJETAS BANCARIAS</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
            <th scope="col">Tipo_Total</th>
            <th scope="col">strNumero</th>
            <th scope="col">Param_telerik</th>
            <th scope="col">Table_telerik</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[9].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>AFORO DE VEHICULOS SIN PAGO</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Grupo</th>
            <th scope="col">Concepto</th>
            <th scope="col">Descricion_clase</th>
            <th scope="col">Numero_clase</th>
            <th scope="col">Numero</th>
            <th scope="col">Numero param</th>
            <th scope="col">Numero tabla</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[10].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                    <td>@row[6]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>totales AFORO DE VEHICULOS SIN PAGO</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
            <th scope="col">Tipo_Total</th>
            <th scope="col">strNumero</th>
            <th scope="col">Param_telerik</th>
            <th scope="col">Table_telerik</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[11].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                </tr>
            }
        }
    </tbody>
</table>

<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Grupo</th>
            <th scope="col">Concepto</th>
            <th scope="col">Descricion_clase</th>
            <th scope="col">Numero_clase</th>
            <th scope="col">Numero</th>
            <th scope="col">Numero param</th>
            <th scope="col">Numero tabla</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[12].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                    <td>@row[6]</td>
                </tr>
            }
        }
    </tbody>
</table>

<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
            <th scope="col">Tipo_Total</th>
            <th scope="col">strNumero</th>
            <th scope="col">Param_telerik</th>
            <th scope="col">Table_telerik</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[13].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>TOTAL MARCADO POR CAJERO-RECEPTOR</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Grupo</th>
            <th scope="col">Concepto</th>
            <th scope="col">Descricion_clase</th>
            <th scope="col">Numero_clase</th>
            <th scope="col">Numero</th>
            <th scope="col">Numero param</th>
            <th scope="col">Numero tabla</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[14].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                    <td>@row[6]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>total TOTAL MARCADO POR CAJERO-RECEPTOR</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
            <th scope="col">Tipo_Total</th>
            <th scope="col">strNumero</th>
            <th scope="col">Param_telerik</th>
            <th scope="col">Table_telerik</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[15].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>TOTAL DETECTADO POR EQUIPO DE CONTROL DE TRANSITO INCLUYENDO VEHICULOS SIN PAGO</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Grupo</th>
            <th scope="col">Concepto</th>
            <th scope="col">Descricion_clase</th>
            <th scope="col">Numero_clase</th>
            <th scope="col">Numero</th>
            <th scope="col">Numero param</th>
            <th scope="col">Numero tabla</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[16].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                    <td>@row[6]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>total TOTAL DETECTADO POR EQUIPO DE CONTROL DE TRANSITO INCLUYENDO VEHICULOS SIN PAGO</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
            <th scope="col">Tipo_Total</th>
            <th scope="col">strNumero</th>
            <th scope="col">Param_telerik</th>
            <th scope="col">Table_telerik</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[17].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>DIFERENCIA ENTRE TOTAL MARCADO POR EL CAJERO-RECEPTOR</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Grupo</th>
            <th scope="col">Concepto</th>
            <th scope="col">Descricion_clase</th>
            <th scope="col">Numero_clase</th>
            <th scope="col">Numero</th>
            <th scope="col">Numero param</th>
            <th scope="col">Numero tabla</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[18].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                    <td>@row[6]</td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>total DIFERENCIA ENTRE TOTAL MARCADO POR EL CAJERO-RECEPTOR</h3>
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
            <th scope="col">Tipo_Total</th>
            <th scope="col">strNumero</th>
            <th scope="col">Param_telerik</th>
            <th scope="col">Table_telerik</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow row in Model.Tables[19].Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                </tr>
            }
        }
    </tbody>
</table>
